<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/css/style.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
<script src="static/css/js/jquery-3.3.1.min.js"></script>
<script src="static/css/js/popper.min.js+bootstrap.min.js.pagespeed.jc.8DARHb5pmg.js"></script><script>eval(mod_pagespeed_LMjhQDYrKa);</script>
<script>eval(mod_pagespeed_KtPKTxxsKF);</script>
<script src="js/jquery.validate.min.js+main.js.pagespeed.jc.0fKxtJOsCc.js"></script><script>eval(mod_pagespeed_XJCRL72ZJZ);</script>
<script>eval(mod_pagespeed_sBxrYQrmlO);</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"71dcc6691b35354a","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.6.0","si":100}' crossorigin="anonymous"></script>
</html>